<h1>Listing machines</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% @machines.each do |machine| %>
  <tr>
    <td><%= machine.name %></td>
    <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
  </tr>
  <% end %>
</table>
